<%- include('partials/header') %>

<section class="page-404-section container text-center">
  <div class="card-404">
    <div class="icon-404"><i class="fa-solid fa-mortar-pestle"></i></div>
    <h1>404 - Spice Not Found</h1>
    <p>We searched our entire warehouse shelves but couldn't find the page or blend you are looking for.</p>
    <div class="actions-404">
      <a href="/products" class="btn btn-primary">Browse Spices</a>
      <a href="/" class="btn btn-secondary">Go to Homepage</a>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
